<div class="twelve columns">
    <div class="card-header">
       <div class="post-title"><h2><a class="post-link" href="/post/{{id}}">{{title}}</a></h2></div>
       <div class="post-author">Posted by: {{user.username}}</div>
    </div>
    <div class="card-body">{{content}}</div>
</div>

{{!-- TODO: ADD DATE CREATED --}}