<div class="u-full-width">
<div class="container">
<div class="row">
<div class="twelve columns">

<form class="login-form">
    <h3>Login</h3>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="loginBtn" type="submit">Login</button>
    <p class="login-instructions">* If you do not have an account, please click 'Sign-up' above.</p>
  </div>
</form>

</div>
</div>
</div>
</div>

<script src="/js/login.js"></script>