<div class="u-full-width">
<div class="container">
<div class="row">
<div class="twelve columns">

<form id="new-comment-form">
    <h3>Add New Comment</h3>
  <div>
    <label for="comment-content">New Comment</label>
    <textarea id="comment-content" name="comment"></textarea>
  </div>
  <div>
    <button class="comment-create-btn" type="submit">Create Comment</button>
  </div>
</form>

</div>
</div>
</div>
</div>

<script src="/js/newComment.js"></script>