<div class="u-full-width">
<div class="container">
<div class="row">
<div class="twelve columns">

<form class="signup-form">
    <h3>Sign Up</h3>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="signupBtn" type="submit">Signup</button>
  </div>
</form>

</div>
</div>
</div>
</div>

<script src="/js/signup.js"></script>
